:root{
    --primary-color : #0051ec;
    --secondary-color : #ffc107;
}

.insurance_card_title{
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 2rem;
    margin: auto;
    text-align: center;
}
.insurance_card_title a{
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
}

.basic-grid{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding:2rem;
    
}

.insurance_card{
    height: 360px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    
}

.insurance_card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:5px solid var(--primary-color);
    
}