body { margin-top:20px; }

:root{
    --primary-color : #0051ec;
    --secondary-color : #ffc107;
}

.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }



