body{
  margin: 0;
  padding: 0;
  /* background: url(https://www.pngitem.com/pimgs/m/155-1557549_gray-line-png-grey-abstract-transparent-background-png.png); */

}
.notice{
  height: 550px;
  width:380px;
  position: absolute;
  /* transform: translate(30px,20px;); */
  padding-left: 20px;
  padding-top: : 20%;
  padding-right: 20px;
  padding-bottom: 20%;
  background-color: #f9f9f9;
  opacity: 0.5;
   overflow-y: scroll;

}

.notice:hover{
  opacity: 1;
}
h1{
  margin-bottom: 50px;
  margin-top: 20px;
}
.log-out{
  position: relative;
  left: 410px;
}

/* contact */
